First Archive .zip to be handled

In [ ]:
!unzip archive.zip

Archive:  archive.zip
  inflating: twitter_training.csv
  inflating: twitter_validation.csv

In [ ]:
import pandas as pd

In [ ]:
d1=pd.read_csv("./twitter_training.csv")

In [ ]:
d1.tail()

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
74676,9200,Nvidia,Positive,Just realized that the Windows partition of my...
74677,9200,Nvidia,Positive,Just realized that my Mac window partition is ...
74678,9200,Nvidia,Positive,Just realized the windows partition of my Mac ...
74679,9200,Nvidia,Positive,Just realized between the windows partition of...
74680,9200,Nvidia,Positive,Just like the windows partition of my Mac is l...

In [ ]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74681 entries, 0 to 74680
Data columns (total 4 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   2401                                                   74681 non-null  int64
 1   Borderlands                                            74681 non-null  object
 2   Positive                                               74681 non-null  object
 3   im getting on borderlands and i will murder you all ,  73995 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.3+ MB

In [ ]:
d1["Positive"].value_counts()

Negative      22542
Positive      20831
Neutral       18318
Irrelevant    12990
Name: Positive, dtype: int64

In [ ]:
d1["Borderlands"].value_counts()

TomClancysRainbowSix                 2400
MaddenNFL                            2400
Microsoft                            2400
LeagueOfLegends                      2394
CallOfDuty                           2394
Verizon                              2382
CallOfDutyBlackopsColdWar            2376
ApexLegends                          2376
Facebook                             2370
WorldOfCraft                         2364
Dota2                                2364
NBA2K                                2352
TomClancysGhostRecon                 2346
Battlefield                          2346
FIFA                                 2340
Xbox(Xseries)                        2334
Overwatch                            2334
johnson&johnson                      2328
Amazon                               2316
PlayStation5(PS5)                    2310
HomeDepot                            2310
Cyberpunk2077                        2304
CS-GO                                2304
GrandTheftAuto(GTA)                  2304
Hearthstone                          2298
Nvidia                               2298
Google                               2298
Borderlands                          2285
PlayerUnknownsBattlegrounds(PUBG)    2274
Fortnite                             2274
RedDeadRedemption(RDR)               2262
AssassinsCreed                       2244
Name: Borderlands, dtype: int64

In [ ]:
df1 = d1[d1.Positive != "Irrelevant"]

In [ ]:
df1= df1[df1.Positive!="Neutral"]

In [ ]:
df1["Positive"].value_counts()

Negative    22542
Positive    20831
Name: Positive, dtype: int64

In [ ]:
df1.Positive=df1.Positive.replace("Positive",1)

In [ ]:
df1.head()

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
0,2401,Borderlands,1,I am coming to the borders and I will kill you...
1,2401,Borderlands,1,im getting on borderlands and i will kill you ...
2,2401,Borderlands,1,im coming on borderlands and i will murder you...
3,2401,Borderlands,1,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,1,im getting into borderlands and i can murder y...

In [ ]:
df1.Positive=df1.Positive.replace("Negative",0)

In [ ]:
df1["Positive"].value_counts()

0    22542
1    20831
Name: Positive, dtype: int64

In [ ]:
df1.drop(["Borderlands","2401"],axis=1,inplace=True)

In [ ]:
df1.head()

   Positive im getting on borderlands and i will murder you all ,
0         1  I am coming to the borders and I will kill you...
1         1  im getting on borderlands and i will kill you ...
2         1  im coming on borderlands and i will murder you...
3         1  im getting on borderlands 2 and i will murder ...
4         1  im getting into borderlands and i can murder y...

In [ ]:
df1.to_csv('tw1_train.csv', index=False)

In [ ]:
data=pd.read_csv("twitter_validation.csv")

In [ ]:
data

,3364,Facebook,Irrelevant,"I mentioned on Facebook that I was struggling for motivation to go for a run the other day, which has been translated by Tom’s great auntie as ‘Hayley can’t get out of bed’ and told to his grandma, who now thinks I’m a lazy, terrible person 🤣"
0,352,Amazon,Neutral,BBC News - Amazon boss Jeff Bezos rejects clai...
1,8312,Microsoft,Negative,@Microsoft Why do I pay for WORD when it funct...
2,4371,CS-GO,Negative,"CSGO matchmaking is so full of closet hacking,..."
3,4433,Google,Neutral,Now the President is slapping Americans in the...
4,6273,FIFA,Negative,Hi @EAHelp I’ve had Madeleine McCann in my cel...
...,...,...,...,...
994,4891,GrandTheftAuto(GTA),Irrelevant,⭐️ Toronto is the arts and culture capital of ...
995,4359,CS-GO,Irrelevant,tHIS IS ACTUALLY A GOOD MOVE TOT BRING MORE VI...
996,2652,Borderlands,Positive,Today sucked so it’s time to drink wine n play...
997,8069,Microsoft,Positive,Bought a fraction of Microsoft today. Small wins.
998,6960,johnson&johnson,Neutral,Johnson & Johnson to stop selling talc baby po...

In [ ]:
data["Irrelevant"].value_counts()

Neutral       285
Positive      277
Negative      266
Irrelevant    171
Name: Irrelevant, dtype: int64

In [ ]:
data=data[data["Irrelevant"]!="Neutral"]

In [ ]:
data=data[data["Irrelevant"]!="Irrelevant"]

In [ ]:
data["Irrelevant"].value_counts()

Positive    277
Negative    266
Name: Irrelevant, dtype: int64

In [ ]:
data.Irrelevant=data.Irrelevant.replace("Positive",1)

In [ ]:
data.Irrelevant=data.Irrelevant.replace("Negative",0)

In [ ]:
data

,3364,Facebook,Irrelevant,"I mentioned on Facebook that I was struggling for motivation to go for a run the other day, which has been translated by Tom’s great auntie as ‘Hayley can’t get out of bed’ and told to his grandma, who now thinks I’m a lazy, terrible person 🤣"
1,8312,Microsoft,0,@Microsoft Why do I pay for WORD when it funct...
2,4371,CS-GO,0,"CSGO matchmaking is so full of closet hacking,..."
4,6273,FIFA,0,Hi @EAHelp I’ve had Madeleine McCann in my cel...
5,7925,MaddenNFL,1,Thank you @EAMaddenNFL!! \n\nNew TE Austin Hoo...
6,11332,TomClancysRainbowSix,1,"Rocket League, Sea of Thieves or Rainbow Six: ..."
...,...,...,...,...
991,2962,Dota2,1,guess i'll broke.
992,314,Amazon,0,Please explain how this is possible! How can t...
993,9701,PlayStation5(PS5),1,Good on Sony. As much as I want to see the new...
996,2652,Borderlands,1,Today sucked so it’s time to drink wine n play...
997,8069,Microsoft,1,Bought a fraction of Microsoft today. Small wins.

In [ ]:
data.drop(["Facebook","3364"],axis=1,inplace=True)

In [ ]:
data.head()

,Irrelevant,"I mentioned on Facebook that I was struggling for motivation to go for a run the other day, which has been translated by Tom’s great auntie as ‘Hayley can’t get out of bed’ and told to his grandma, who now thinks I’m a lazy, terrible person 🤣"
1,0,@Microsoft Why do I pay for WORD when it funct...
2,0,"CSGO matchmaking is so full of closet hacking,..."
4,0,Hi @EAHelp I’ve had Madeleine McCann in my cel...
5,1,Thank you @EAMaddenNFL!! \n\nNew TE Austin Hoo...
6,1,"Rocket League, Sea of Thieves or Rainbow Six: ..."

In [ ]:
data.to_csv('tw1_validation.csv', index=False)

In [ ]:
data

Twitter DataSet Archive(1) file Now Bitchess!!

In [ ]:
!unzip archive.zip
import pandas as pd

Archive:  archive.zip
replace test.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [ ]:

d2=pd.read_csv("train.csv")

In [ ]:
d2["label"].value_counts()

0    29720
1     2242
Name: label, dtype: int64

In [ ]:
d2.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [ ]:
d2.label=d2.label.replace(0,"P")

In [ ]:
d2.head()

   id label                                              tweet
0   1     P   @user when a father is dysfunctional and is s...
1   2     P  @user @user thanks for #lyft credit i can't us...
2   3     P                                bihday your majesty
3   4     P  #model   i love u take with u all the time in ...
4   5     P             factsguide: society now    #motivation

In [ ]:
d2.label=d2.label.replace(1,0)

In [ ]:
d2.label=d2.label.replace("P",1)

In [ ]:
d2.head()

   id  label                                              tweet
0   1      1   @user when a father is dysfunctional and is s...
1   2      1  @user @user thanks for #lyft credit i can't us...
2   3      1                                bihday your majesty
3   4      1  #model   i love u take with u all the time in ...
4   5      1             factsguide: society now    #motivation

In [ ]:
d2["label"].value_counts()

1    29720
0     2242
Name: label, dtype: int64

In [ ]:
# d2=d2[d2["label"]!=1]

In [ ]:
d2.label.value_counts()

1    29720
0     2242
Name: label, dtype: int64

In [ ]:
d2

          id  label                                              tweet
0          1      1   @user when a father is dysfunctional and is s...
1          2      1  @user @user thanks for #lyft credit i can't us...
2          3      1                                bihday your majesty
3          4      1  #model   i love u take with u all the time in ...
4          5      1             factsguide: society now    #motivation
...      ...    ...                                                ...
31957  31958      1  ate @user isz that youuu?ðððððð...
31958  31959      1    to see nina turner on the airwaves trying to...
31959  31960      1  listening to sad songs on a monday morning otw...
31960  31961      0  @user #sikh #temple vandalised in in #calgary,...
31961  31962      1                   thank you @user for you follow

[31962 rows x 3 columns]

In [ ]:
d2.drop(["id"],axis=1,inplace=True)

In [ ]:
d2.head()

   label                                              tweet
0      1   @user when a father is dysfunctional and is s...
1      1  @user @user thanks for #lyft credit i can't us...
2      1                                bihday your majesty
3      1  #model   i love u take with u all the time in ...
4      1             factsguide: society now    #motivation

In [ ]:
d2.to_csv("tw2_rasist_train.csv",index=False)

In [ ]:
d2=pd.read_csv("test.csv")

In [ ]:
d2.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [ ]:
d2.drop(["id"],axis=1,inplace=True)

In [ ]:
d2.head()

                                               tweet
0  #studiolife #aislife #requires #passion #dedic...
1   @user #white #supremacists want everyone to s...
2  safe ways to heal your #acne!!    #altwaystohe...
3  is the hp and the cursed child book up for res...
4    3rd #bihday to my amazing, hilarious #nephew...

In [ ]:
d2.to_csv("tw2_race_test.csv",index=False)

From Here the PreProcessing Of DataSet of Archive(2) MotheaFucking Bitchess!

In [ ]:
import pandas as pd

In [ ]:
!unzip archive.zip

Archive:  archive.zip
  inflating: Tweets.csv

In [ ]:
d1=pd.read_csv("Tweets.csv")

In [ ]:
d1.head()

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

In [ ]:
d1.sentiment.value_counts()

neutral     11118
positive     8582
negative     7781
Name: sentiment, dtype: int64

In [ ]:
d1=d1[d1.sentiment!="neutral"]

In [ ]:
d1.sentiment.value_counts()

positive    8582
negative    7781
Name: sentiment, dtype: int64

In [ ]:
d1.sentiment=d1.sentiment.replace("negative",0)

In [ ]:
d1.sentiment=d1.sentiment.replace("positive",1)

In [ ]:
d1.sentiment.value_counts()

1    8582
0    7781
Name: sentiment, dtype: int64

In [ ]:
d1.drop(["textID","selected_text"],axis=1,inplace=True)

In [ ]:
d1

                                                    text  sentiment
1          Sooo SAD I will miss you here in San Diego!!!          0
2                              my boss is bullying me...          0
3                         what interview! leave me alone          0
4       Sons of ****, why couldn`t they put them on t...          0
6      2am feedings for the baby are fun when he is a...          1
...                                                  ...        ...
27475                                     enjoy ur night          1
27476   wish we could come see u on Denver  husband l...          0
27477   I`ve wondered about rake to.  The client has ...          0
27478   Yay good for both of you. Enjoy the break - y...          1
27479                         But it was worth it  ****.          1

[16363 rows x 2 columns]

In [ ]:
d1.to_csv("tw3_train.csv",index=False)

Fuck You Last One Motha Fuckkaaaaae

In [ ]:
import pandas as pd

In [ ]:
!unzip archive.zip

Archive:  archive.zip
  inflating: bjp_tweets.csv
  inflating: congress_tweets.csv

In [ ]:
bjp=pd.read_csv("bjp_tweets.csv")

In [ ]:
bjp.head()

   Unnamed: 0                                              tweet  target
0           0  ndtv anchor let go over to aap live press conf...       0
1           1  sambit patra attacks rahul gandhi over his cow...       0
2           2  crediting the bjp with taking development to s...       1
3           3  ktrbrs do do false allegations on iasassociati...       0
4           4  gujarat assembly yet to get rs cr as gst compe...       1

In [ ]:
bjp.drop(["Unnamed: 0"],axis=1,inplace=True)

In [ ]:
bjp.head()

                                               tweet  target
0  ndtv anchor let go over to aap live press conf...       0
1  sambit patra attacks rahul gandhi over his cow...       0
2  crediting the bjp with taking development to s...       1
3  ktrbrs do do false allegations on iasassociati...       0
4  gujarat assembly yet to get rs cr as gst compe...       1

In [ ]:
cong=pd.read_csv("congress_tweets.csv")

In [ ]:
cong.head()

   Unnamed: 0                                              tweet  target
0           0  spending shocker cbo latest debt projection sh...       0
1           1  will you vote for congress in 2024 congress co...       1
2           2        triviapotus we need termlimits for congress       1
3           3  eam s jaishankar hit out at congress for quad ...       0
4           4  is this why congress supported amp celebrated ...       1

In [ ]:
cong.drop(["Unnamed: 0"],axis=1,inplace=True)

In [ ]:
cong.head()

                                               tweet  target
0  spending shocker cbo latest debt projection sh...       0
1  will you vote for congress in 2024 congress co...       1
2        triviapotus we need termlimits for congress       1
3  eam s jaishankar hit out at congress for quad ...       0
4  is this why congress supported amp celebrated ...       1

In [ ]:
merge=pd.concat([bjp,cong])

In [ ]:
merge.to_csv("tw4_train.csv",index=False)

Final Battel Motha Fuckkaaaa

In [ ]:
import pandas as pd

In [ ]:
tw1=pd.read_csv("tw1_train.csv")
tw2=pd.read_csv("tw2_rasist_train.csv")
tw3=pd.read_csv("tw3_train.csv")

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
tw1.head()

,label,tweets,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,1,So I spent a few hours making something for fu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,So I spent a couple of hours doing something f...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,So I spent a few hours doing something for fun...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,So I spent a few hours making something for fu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,2010 So I spent a few hours making something f...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
tw1.isnull().sum()

label       0
tweets    361
dtype: int64

In [ ]:
tw1.drop(["Unnamed: 2","Unnamed: 3","Unnamed: 4","Unnamed: 5","Unnamed: 6","Unnamed: 7","Unnamed: 8","Unnamed: 9","Unnamed: 10"],axis=1,inplace=True)

In [ ]:
tw1.dropna(inplace=True)

In [ ]:
tw1.isnull().sum()

label     0
tweets    0
dtype: int64

In [ ]:
tw1

       label                                             tweets
0          1  So I spent a few hours making something for fu...
1          1  So I spent a couple of hours doing something f...
2          1  So I spent a few hours doing something for fun...
3          1  So I spent a few hours making something for fu...
4          1  2010 So I spent a few hours making something f...
...      ...                                                ...
43363      1  Just realized that the Windows partition of my...
43364      1  Just realized that my Mac window partition is ...
43365      1  Just realized the windows partition of my Mac ...
43366      1  Just realized between the windows partition of...
43367      1  Just like the windows partition of my Mac is l...

[43007 rows x 2 columns]

In [ ]:
tw2.head()

,label,tweets,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,1,@user when a father is dysfunctional and is s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,@user @user thanks for #lyft credit i can't us...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,bihday your majesty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,#model i love u take with u all the time in ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,factsguide: society now #motivation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
tw2.dropna(axis=1,inplace=True)

In [ ]:
tw2.head()

   label                                             tweets
0      1   @user when a father is dysfunctional and is s...
1      1  @user @user thanks for #lyft credit i can't us...
2      1                                bihday your majesty
3      1  #model   i love u take with u all the time in ...
4      1             factsguide: society now    #motivation

In [ ]:
tw3.head()

,label,tweets,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,0,Sooo SAD I will miss you here in San Diego!!!,NaN,NaN,NaN,NaN
1,0,my boss is bullying me...,NaN,NaN,NaN,NaN
2,0,what interview! leave me alone,NaN,NaN,NaN,NaN
3,0,"Sons of ****, why couldn`t they put them on t...",NaN,NaN,NaN,NaN
4,1,2am feedings for the baby are fun when he is a...,NaN,NaN,NaN,NaN

In [ ]:
tw3.drop(["Unnamed: 2","Unnamed: 3","Unnamed: 4","Unnamed: 5"],axis=1,inplace=True)

In [ ]:
tw3.isnull().sum()

label     5
tweets    1
dtype: int64

In [ ]:
tw3.dropna(inplace=True)

In [ ]:
tw3.isnull().sum()

label     0
tweets    0
dtype: int64

In [ ]:
tw3.label.value_counts()

1                                     8490
0                                     7736
)                                       27
-)                                       5
D                                        3
                                      ...
 two more appointments to go             1
t like drinking                          1
 i love rails                            1
 no luck. do not want to order one       1
 doing a colleagues job                  1
Name: label, Length: 99, dtype: int64

In [ ]:
tw3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16355 entries, 0 to 16360
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   16355 non-null  object
 1   tweets  16355 non-null  object
dtypes: object(2)
memory usage: 383.3+ KB

In [ ]:
import numpy as np

def check_int(value):
    try:
        int(value)
        return value
    except ValueError:
        return np.NaN

In [ ]:
tw3.label=tw3.label.apply(check_int)

In [ ]:
tw3.label.value_counts()

1    8490
0    7736
Name: label, dtype: int64

In [ ]:
tw3.isnull().sum()

label     129
tweets      0
dtype: int64

In [ ]:
tw3.dropna(inplace=True)

In [ ]:
tw3.head()

  label                                             tweets
0     0      Sooo SAD I will miss you here in San Diego!!!
1     0                          my boss is bullying me...
2     0                     what interview! leave me alone
3     0   Sons of ****, why couldn`t they put them on t...
4     1  2am feedings for the baby are fun when he is a...

In [ ]:
def check_len(value):
      a=len(value)
      if a>10:
        return value
      else :
        return np.NaN

In [ ]:
tw3_dp=tw3.copy()

In [ ]:
tw3_dp.tweets=tw3_dp.tweets.apply(check_len)

In [ ]:
tw3_dp.isnull().sum()

label       0
tweets    108
dtype: int64

In [ ]:
tw3.tweets=tw3.tweets.apply(check_len)

In [ ]:
tw3.isnull().sum()

label       0
tweets    108
dtype: int64

In [ ]:
tw3.dropna(inplace=True)

In [ ]:
tw3

      label                                             tweets
0         0      Sooo SAD I will miss you here in San Diego!!!
1         0                          my boss is bullying me...
2         0                     what interview! leave me alone
3         0   Sons of ****, why couldn`t they put them on t...
4         1  2am feedings for the baby are fun when he is a...
...     ...                                                ...
16356     1                                     enjoy ur night
16357     0   wish we could come see u on Denver  husband l...
16358     0   I`ve wondered about rake to.  The client has ...
16359     1   Yay good for both of you. Enjoy the break - y...
16360     1                         But it was worth it  ****.

[16118 rows x 2 columns]

In [ ]:
tw2.tweets=tw2.tweets.apply(check_len)

In [ ]:
tw2.dropna(inplace=True)

In [ ]:
tw2.head()

   label                                             tweets
0      1   @user when a father is dysfunctional and is s...
1      1  @user @user thanks for #lyft credit i can't us...
2      1                                bihday your majesty
3      1  #model   i love u take with u all the time in ...
4      1             factsguide: society now    #motivation

In [ ]:
tw1.label.value_counts()

0    22358
1    20649
Name: label, dtype: int64

In [ ]:
tw1.tweets=tw1.tweets.apply(check_len)

In [ ]:
tw1.isnull().sum()

label        0
tweets    2255
dtype: int64

In [ ]:
tw1.dropna(inplace=True)

In [ ]:
tw1

       label                                             tweets
0          1  So I spent a few hours making something for fu...
1          1  So I spent a couple of hours doing something f...
2          1  So I spent a few hours doing something for fun...
3          1  So I spent a few hours making something for fu...
4          1  2010 So I spent a few hours making something f...
...      ...                                                ...
43363      1  Just realized that the Windows partition of my...
43364      1  Just realized that my Mac window partition is ...
43365      1  Just realized the windows partition of my Mac ...
43366      1  Just realized between the windows partition of...
43367      1  Just like the windows partition of my Mac is l...

[40752 rows x 2 columns]

In [ ]:
tw2

       label                                             tweets
0          1   @user when a father is dysfunctional and is s...
1          1  @user @user thanks for #lyft credit i can't us...
2          1                                bihday your majesty
3          1  #model   i love u take with u all the time in ...
4          1             factsguide: society now    #motivation
...      ...                                                ...
31957      1  ate @user isz that youuu?ðððððð...
31958      1    to see nina turner on the airwaves trying to...
31959      1  listening to sad songs on a monday morning otw...
31960      0  @user #sikh #temple vandalised in in #calgary,...
31961      1                   thank you @user for you follow

[31886 rows x 2 columns]

In [ ]:
tw3

      label                                             tweets
0         0      Sooo SAD I will miss you here in San Diego!!!
1         0                          my boss is bullying me...
2         0                     what interview! leave me alone
3         0   Sons of ****, why couldn`t they put them on t...
4         1  2am feedings for the baby are fun when he is a...
...     ...                                                ...
16356     1                                     enjoy ur night
16357     0   wish we could come see u on Denver  husband l...
16358     0   I`ve wondered about rake to.  The client has ...
16359     1   Yay good for both of you. Enjoy the break - y...
16360     1                         But it was worth it  ****.

[16118 rows x 2 columns]

In [ ]:
frame=[tw1,tw2,tw3]
finaldataset=pd.concat(frame)

In [ ]:
finaldataset

      label                                             tweets
0         1  So I spent a few hours making something for fu...
1         1  So I spent a couple of hours doing something f...
2         1  So I spent a few hours doing something for fun...
3         1  So I spent a few hours making something for fu...
4         1  2010 So I spent a few hours making something f...
...     ...                                                ...
16356     1                                     enjoy ur night
16357     0   wish we could come see u on Denver  husband l...
16358     0   I`ve wondered about rake to.  The client has ...
16359     1   Yay good for both of you. Enjoy the break - y...
16360     1                         But it was worth it  ****.

[88756 rows x 2 columns]

In [ ]:
finaldataset.to_csv("final_train.csv",index=False)

Final Test Dataset SUCK ITTTT!!!

In [ ]:
import pandas as pd

In [ ]:
!unzip archive.zip

Archive:  archive.zip
  End-of-central-directory signature not found.  Either this file is not
  a zipfile, or it constitutes one disk of a multi-part archive.  In the
  latter case the central directory and zipfile comment will be found on
  the last disk(s) of this archive.
unzip:  cannot find zipfile directory in one of archive.zip or
        archive.zip.zip, and cannot find archive.zip.ZIP, period.